* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Marck Script", cursive;
    font-size: 100%;
    line-height: 1;
    font-size: 20px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #000066;
    background-color: #ffffa5;
}

body.no-scroll {
    overflow: hidden;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.header {
    width: 100%;
    padding: 20px;
    background-color: #ffffa5;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.title {
    font-size: 64px;
    text-align: center;
}

.input {
    width: 100%;
    max-width: 776px;
    padding-right: 40px;
    margin: 30px auto 0;
    position: relative;
}

.input input {
    width: 100%;
    padding: 5px 30px 5px 5px;
    margin-right: 40px;
    color: #000066;
    border-radius: 4px;
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translate(0, -50%);
}

.icon--add {
    right: 45px;
}

.icon--filter {
    right: 10px;
}

.icon--delete {
    right: -35px;
}

.icon--reminder {
    background-image: url(./img/icons/crossed-out-bell.svg);
    background-size: cover;
    background-repeat: no-repeat;
    right: 5px;
}

.list {
    width: 100%;
    max-width: 776px;
    padding: 20px;
    padding: 265px 20px 65px;
    margin: 0 auto;
}

.task {
    display: flex;
    align-items: center;
    padding: 5px 30px 5px 5px;
    margin: 10px 40px 0 0;
    background-color: #e3de96;
    border-radius: 4px;
    position: relative;
}

.task.checked {
    opacity: 0.5;
}

.task:first-child {
    margin-top: 0;
}

.task label,
.task input {
    width: 20px;
    height: 20px;
}

.task label {
    margin-right: 10px;
}

.filter {
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 1;
    transform: translate(0, -50%);
}

.mask {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 165, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.mask.show {
    display: block;
}

.mask__inner {
    padding: 10px;
    background-color: #b0b0b0;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0.5rem 1rem;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 500;
    transform: translate(-50%, -50%);
}

.mask__inner--message {
    background-color: #fff;
}

.timer {
    padding: 5px;
    border-radius: 4px;
}

.button {
    padding: 5px 10px;
    color: #fff;
    border-radius: 4px;
}

.button--red {
    background-color: #510000;
}

.button--green {
    background-color: #006f2c;
}

.button--pink {
    display: block;
    margin: 0 auto;
    background-color: #a1757d;
}

.message__text {
    margin-bottom: 10px;
}
